{% extends 'main.html' %}
{% block body %}
    <div class="container">
        <div class="users">
            {% for user in users %}
                <a href="/{{user}}{{user[1]}}">{{user[0]}}</a>
            {% endfor %}
        </div>
        <div class="chatarea">
            <div class="textarea">
                <input type="text" name="message" id="msg">
                <input type="submit" value="send">
            </div>
        </div>
    </div>
    <a href="/logout"><button type="submit">logout</button></a>


{% endblock body %}
